.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
  padding: 20px;
  max-width: 400px;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  background-color: rgb(var(--background-end-rgb));
}

.inputField {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid var(--border-color);
  border-radius: calc(var(--border-radius) / 2);
  font-size: 16px;
  box-sizing: border-box;
  background-color: rgb(var(--background-start-rgb));
  color: var(--text-color);
}

.inputField:focus {
  outline: none;
  border-color: var(--hover-color);
  box-shadow: 0 0 5px var(--focus-color);
}

.submitButton {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: calc(var(--border-radius) / 2);
  background-color: var(--hover-color);
  color: var(--text-color);
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submitButton:hover {
  background-color: var(--active-color);
}